.about_us__list {
	@media screen and (max-width: 1199px) {
		margin-bottom: -30px;
	}
	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	@media screen and (min-width: 1200px) {
		margin-right: -30px;
	}
}
.about_us {
	text-align: center;
	background-color: #f5f4fa;
}
.about_us__item {
	display: flex;
	flex-direction: column;
	background: #ffffff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	@media screen and (max-width: 1199px) {
		margin-bottom: 30px;
	}
	@media screen and (min-width: 1200px) {
		margin-right: 30px;
	}
}
.about_us__description {
	padding-top: 30px;
	padding-bottom: 30px;
}
.about_us__name {
	font-weight: 500;
	font-size: 16px;
	line-height: calc(19 / 16);
	letter-spacing: 0.03em;
	margin-bottom: 10px;
}
.about_us__text {
	font-size: 16px;
	line-height: calc(19 / 16);
	letter-spacing: 0.03em;
	color: var(--text_color);
	margin-bottom: 16px;
}
